<div class="container-xxl">
    <app-navbar-top></app-navbar-top>


    <div class="contenedor">

        <div class="contendor-info">
            <div class="Wrapperparrafo">
                <p class="veterinariaL">Veterinaria </p>
                <p class="juntosL">
                    Juntos, 
                    <img class="icon-pet" src="../../../assets/icon/DashiconsPets.svg" alt="">
                </p>

                <p class="parrafo">Construyendo un futuro mas</p>
                <p class="parrafo">saludable y feliz para tus</p>
                <p class="parrafo">fieles amigos.</p>

                <div class="wrapper-btn">
                    <a  routerLink="/services" class="botonServicio">Ver servicios</a>
                </div>
        
            </div>


            <div class="imagen">
                <img class="img-back" src="../../../assets/img/back2.png" alt="">
            </div>

        </div>

    </div>

</div>