<div class="container-xxl">
    <app-navbar-top></app-navbar-top>

    <div>
        <div class="contenedorazul"> 
            <p> ¿Quiénes somos?</p>
            <p> Somos una clínica veterinaria comprometida con el bienestar y la salud de las mascotas. Nos dedicamos a proporcionar atención médica de alta calidad, servicios de bienestar y asesoramiento personalizado</p>
            <p> para asegurar la felicidad y la salud a largo plazo de las mascotas y sus familias.</p> 
            <div>
                <p class="Conocenos"></p>
            </div>
        </div>

        <div class="contenedorblanco"> 
            <p>Misión</p>
            <p>Nuestra misión es proporcionar cuidados compasivos y profesionales a las mascotas, promoviendo su salud y bienestar a través de servicios veterinarios de calidad. Nos esforzamos por establecer relaciones duraderas con nuestros clientes y sus mascotas,</p>
            <p>ofreciendo un ambiente acogedor y personalizado donde cada animal se sienta amado y cuidado.</p>
            <div>
                <p class="Mision"></p>
            </div>
        </div>

        <div class="contenedorrosa"> 
            <p>Visión</p>
            <p>Nuestra visión es convertirnos en un referente en el cuidado de mascotas, destacando por nuestra excelencia en servicios veterinarios atención al cliente y compromiso con el bienestar animal. Nos esforzamos por ampliar nuestra oferta de servicios, adoptar las últimas tecnologías y técnicas médicas, y continuar creciendo como un equipo comprometido con la salud y la felicidad de todas las mascotas que atendemos.</p>
            <div>
                <p class="Vision"></p>
            </div>
        </div>
    </div>
</div>
