
.container-xxl{
  height: 100vh;
}

/* Estilo general */
body {
margin: 0;
font-family: Arial, sans-serif;
background-image: url('https://thumbs.dreamstime.com/b/fondo-veterinario-27495910.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
}

/* Contenedor principal */
.login-container {
width: 100%;
max-width: 400px;
padding: 20px;
}

@keyframes float {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-5px);
  }
}

/* Caja de login */
.login-box {
background: rgba(8, 137, 122, 0.295);
border-radius: 10px;
padding: 40px;
text-align: center;
box-shadow: 0 0 10px rgba(12, 200, 172, 90);
animation: float 3s  ease-in-out infinite;;
}

/* Avatar */
.avatar {
width: 100px;
height: 100px;
margin: 0 auto 20px;
background: url('../../../assets/img/Captura\ de\ pantalla\ 2024-05-24\ 182736.png') no-repeat center;
background-size: cover;
border-radius: 50%;
}

/* Input box */
.input-box {
margin-bottom: 20px;
}

.input-box input {
width: 100%;
padding: 10px;
border: none;
border-radius: 5px;
outline: none;
}

/* Checkbox y link */
.remember-me, .forgot-password, .create-account {
display: flex;
justify-content: space-between;
align-items: center;
font-size: 14px;
color: #680a83;
margin: 10px 0;
}

.remember-me input {
margin-right: 5px;
}

/* Botón de login */
button {
width: 100%;
padding: 10px;
border: none;
border-radius: 5px;
background-color: #4e54c8;
color: white;
font-size: 16px;
cursor: pointer;
transition: background-color 0.3s;
}

button:hover {
background-color: #8f94fb;
}

/* Link de crear cuenta */
.create-account a {
color: #680a83;
text-decoration: none;
font-size: 14px;
}

.create-account a:hover {
text-decoration: underline;
}



