<div class="positionFixed ">
    <nav class="wrapper container-xxl">

        <div class="wrapperLogo">
            <p routerLink="/" routerLinkActive="active">aquavet</p>
        </div>


        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/aboutUs" routerLinkActive="active">Sobre nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/services" routerLinkActive="active">Servicios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-loggin" routerLink="/auth/login" routerLinkActive="active">Iniciar sesión</a>
            </li>
        </ul>
        
    </nav>
</div>