:root {
  --palette-blanco: #ffff;
  --palette-blanco2: #eeeef3;
  --palette-blanco3:#e1e1e6;
  --palette-azulOscuro: #00171f;
  --palette-azulOscuro2: #003459f1;
  --palette-azul: #007ea7;
  --palette-celeste: #00a8e8;
  } 
  