/*fonts*/
@font-face {
    font-family: 'PoppinsLight';
    src: url(../fonts/Poppins-Light.ttf);
    font-display: 'swap';
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url(../fonts/Poppins-Regular.ttf);
    font-display: 'swap';
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url(../fonts/Poppins-Medium.ttf);
    font-display: 'swap';
}
@font-face {
    font-family: 'PoppinsSemibold';
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-display: 'swap';
}
@font-face {
    font-family: 'PoppinsBold';
    src: url(../fonts/Poppins-Bold.ttf);
    font-display: 'swap';
}
@font-face {
    font-family: 'PoppinsExtraBold';
    src: url(../fonts/Poppins-ExtraBold.ttf);
    font-display: 'swap';
}
@font-face {
    font-family: 'PoppinsBlack';
    src: url(../fonts/Poppins-Black.ttf);
    font-display: 'swap';
}

