
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 15px;
  }


  .btn-registrar{
    background-color: #1A1B1E;
    color: white !important;
    font-family: 'PoppinsBold';
  }