<div class="container-xxl">
    <app-navbar-top></app-navbar-top>
    

    <div class="contenedor">

        <div class="contendor-titulo">
            <p>¡Contactanos!</p>
        </div>

        <div class="contenedor-padre">
            <div class="contenedor-informaciones">
                <p class="frase">Nuestro Equipo de atencion esta listo para darte el mejor servicio.</p>
                <p class="telefono">Telefono: +502 8765 4321</p>
                <p class="correo">Correo electronico: aquavet&#64;gmail.com</p>
                <p class="direccion">Direccion: 2da avenida 3-21 zona 1, Solola, Solola</p>
            </div>

            <div class="contenedor-imagen">
                <img class="img-contacto" src="../../../assets/img/social.png" alt="">
            </div>
        </div>
    </div>

    <div class="positionFixed">
        <div class="contendor-icon">
            <img class="icono-redes" src="../../../assets/icon/MdiFacebook2.svg" alt="">
            <img class="icono-redes" src="../../../assets/icon/MdiWhatsapp.svg" alt="">
            <img class="icono-redes" src="../../../assets/icon/MdiInstagram.svg" alt="">
        </div>
    </div>

 </div>


